/*Application body section*/

.App-body {
    padding: 36px 24px;
    /* display: flex;
    justify-content: left; */
    min-height: 60vmin;
    /* height: 500px; */
  }
  .App-body .formName, .App-body p {
    display: flex;
    justify-content: left;
  }
  
  /* .App-body {
    display: flex;
  } */
  
  #email, #password, label {
    margin-right: 5px;
  }