.App-body {
    padding: 36px 24px;
   
    min-height: 60vmin;
    
  }
  .App-body .formName, .App-body p {
    display: flex;
    justify-content: left;
  }
  
  #email, #password, label {
    margin-right: 5px;
  }