/* .Notifications {
    border: 2px dashed #DF344B;
    height: 120px;
    width: 30%;
    position: absolute;
    left: 66%;
    top: 16%;
}
#button-img {
    height: 10px;
    width: 10px;
}
.default {
    color: blue;
}
.urgent {
    color: red;
}
.menuItem {
    height: 6%;
    width: 12%;
    position: absolute;
    left: 85%;
    top: 10%;
} */